
.header {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 300px;
  background-color: #181A1C;
  border-bottom: 1px solid #242527;

  .logo {

    display: flex;
    align-items: center;
    cursor: pointer;

    &__img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    &__text {
      color: #fff;
      margin-left: 15px;
      font-size: 20px;
      font-weight: bold;
    }

  }

  .navbar {

    &__list {
      display: flex;
      justify-content: center;
      list-style: none;
    }

    &__items {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      margin: 0 40px;
      cursor: pointer;

      &_is-active {
        color: #5BB2FF;
      }
    }
  }

}

